<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Homepage</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <h1 style="text-align: center;">Select Menu for performing Tasks </h1>

        <%- include('./partials/scripts') %>
</body>

</html>
